In [62]:
#Setup
import pandas as pd
pd.set_option('display.max_rows', None)

fire = pd.read_csv("fire_data.csv", sep=",")
population = pd.read_csv("population.csv", sep=",")

### Submetric 2: Fire Safety
If there's one thing I don't want to do its light on fire. We will look at recent fire statistics to measure where the most amount of fire related emergency responses are made.

In [33]:
fire['alarm_time'] = pd.to_datetime(fire['alarm_time'])
lowest_date = fire['alarm_time'].min()
highest_date = fire['alarm_time'].max()
print(f"Our start date is {lowest_date}")
print(f"Our end date is {highest_date}")

Our start date is 2013-01-02 23:34:05
Our end date is 2024-11-01 21:03:43

In [13]:
# Total number of smart containers
total_count = fire.shape[0]
print(f"There were {total_count} fire calls")

There were 10208 fire calls

In [43]:
neighborhood_counts = fire.groupby('neighborhood').size().reset_index(name='count')
neighborhood_counts.sort_values(by='count', ascending=False).head(10)

                 neighborhood  count
15                    Carrick    307
16  Central Business District    289
72           South Side Flats    288
77        Squirrel Hill South    267
38                  Hazelwood    257
53           Mount Washington    231
28               East Liberty    220
13                  Brookline    203
41             Homewood South    202
46   Lincoln-Lemington-Belmar    199

In [46]:
neighborhood_counts.sort_values(by='count').head(10)

            neighborhood  count
52  Mount Oliver Borough      6
66         Regent Square      9
26         East Carnegie     11
67             Ridgemont     12
54            Mt. Oliver     12
59               Oakwood     13
4      Arlington Heights     13
78             St. Clair     14
82        Swisshelm Park     17
20        Chartiers City     18

In [49]:
neighborhood_counts['percentage'] = round((neighborhood_counts['count'] / total_count), 4) * 100
neighborhood_counts.sort_values(by='count', ascending=False).head(10)

                 neighborhood  count  percentage
15                    Carrick    307        3.01
16  Central Business District    289        2.83
72           South Side Flats    288        2.82
77        Squirrel Hill South    267        2.62
38                  Hazelwood    257        2.52
53           Mount Washington    231        2.26
28               East Liberty    220        2.16
13                  Brookline    203        1.99
41             Homewood South    202        1.98
46   Lincoln-Lemington-Belmar    199        1.95

In [53]:
neighborhood_counts.sort_values(by='count').head(10)

            neighborhood  count  percentage
52  Mount Oliver Borough      6        0.06
66         Regent Square      9        0.09
26         East Carnegie     11        0.11
67             Ridgemont     12        0.12
54            Mt. Oliver     12        0.12
59               Oakwood     13        0.13
4      Arlington Heights     13        0.13
78             St. Clair     14        0.14
82        Swisshelm Park     17        0.17
20        Chartiers City     18        0.18

In [94]:
merged = pd.merge(neighborhood_counts, population, left_on='neighborhood', right_on='Neighborhood', how='inner')

merged['fires per person'] = round(merged['count']/merged['2020_Total_Population'], 6)
merged.sort_values(by='fires per person')
merged[['neighborhood','count','2020_Total_Population','fires per person']].sort_values(by='fires per person')

                neighborhood  count  2020_Total_Population  fires per person
84                  Westwood     28                   3332          0.008403
62             Regent Square      9                    971          0.009269
48               Morningside     35                   3252          0.010763
71       Squirrel Hill North    136                  11879          0.011449
52             North Oakland    133                  10691          0.012440
64                 Shadyside    193                  15317          0.012600
36             Highland Park     79                   6235          0.012670
55                   Oakwood     13                   1025          0.012683
77            Swisshelm Park     17                   1339          0.012696
59              Point Breeze     72                   5348          0.013463
74           Stanton Heights     62                   4427          0.014005
3                 Banksville     60                   4127          0.014538
11                 Brookline    203                  13063          0.015540
14     Central Lawrenceville     79                   4720          0.016737
16           Central Oakland     98                   5835          0.016795
30                Friendship     33                   1963          0.016811
33                Greenfield    124                   7261          0.017078
21          Duquesne Heights     41                   2397          0.017105
72       Squirrel Hill South    267                  15317          0.017432
56                 Overbrook     61                   3483          0.017514
85                   Windgap     24                   1344          0.017857
5                  Beechview    155                   7596          0.020405
7                 Bloomfield    181                   8665          0.020889
76               Summer Hill     21                    998          0.021042
19           Crafton Heights     85                   3999          0.021255
42             Lincoln Place     69                   3155          0.021870
10          Brighton Heights    158                   7105          0.022238
23             East Carnegie     11                    491          0.022403
81       Upper Lawrenceville     56                   2394          0.023392
28                 Fairywood     26                   1092          0.023810
44       Lower Lawrenceville     63                   2641          0.023855
51             New Homestead     22                    917          0.023991
69         South Side Slopes    106                   4327          0.024497
83              West Oakland     64                   2534          0.025257
8                      Bluff    149                   5882          0.025332
60        Point Breeze North     51                   1988          0.025654
49          Mount Washington    231                   8710          0.026521
50                Mt. Oliver     12                    443          0.027088
9                    Bon Air     22                    759          0.028986
80                Upper Hill     50                   1723          0.029019
13                   Carrick    307                  10290          0.029835
57               Perry North    113                   3758          0.030069
66             South Oakland    101                   3329          0.030339
32                Glen Hazel     20                    659          0.030349
63                 Ridgemont     12                    390          0.030769
31                  Garfield    115                   3643          0.031567
79                 Troy Hill     85                   2645          0.032136
61               Polish Hill     39                   1201          0.032473
26                   Elliott     72                   2193          0.032832
70             Spring Garden     26                    786          0.033079
4          Bedford Dwellings     47                   1386          0.033911
65                  Sheraden    178                   5147          0.034583
25              East Liberty    220                   6187          0.035558
17            Chartiers City     18                    492          0.036585
46        Marshall-Shadeland    150                   4046          0.037074
78           Terrace Village     87                   2320          0.037500
54         Northview Heights     67                   1769          0.037875
68          South Side Flats    288                   7467          0.038570
45                Manchester     82                   2031          0.040374
75            Strip District     75                   1845          0.040650
29                  Fineview     50                   1140          0.043860
58               Perry South    167                   3765          0.044356
0           Allegheny Center     63                   1419          0.044397
15         Central Northside    134                   2972          0.045087
20          Crawford-Roberts    113                   2293          0.049280
43  Lincoln-Lemington-Belmar    199                   3636          0.054730
24                East Hills    159                   2892          0.054979
40                 Knoxville    195                   3493          0.055826
2                  Allentown    130                   2305          0.056399
47               Middle Hill    106                   1757          0.060330
12      California-Kirkbride     43                    709          0.060649
35                 Hazelwood    257                   3889          0.066084
27                    Esplen     23                    322          0.071429
37            Homewood North    188                   2617          0.071838
22            East Allegheny    140                   1903          0.073568
34                      Hays     24                    321          0.074766
73                 St. Clair     14                    183          0.076503
1             Allegheny West     43                    540          0.079630
41                   Larimer    127                   1545          0.082201
6                Beltzhoover    136                   1604          0.084788
38            Homewood South    202                   2260          0.089381
39             Homewood West     63                    642          0.098131
82                  West End     23                    205          0.112195
53               North Shore     77                    301          0.255814
67               South Shore     26                     29          0.896552
18                   Chateau     43                     19          2.263158

We can see that Carrick has 307 fires within the past 10 years, which is 3% of all fire reports. We also see that within the top 10, neighborhoods 2-3 percent of the fire reports. We can also see that the 10 lowest reported neighborhoods had less than .2% of reports. We can see that some neighborhoods have fewer fires per person, so options that are below .02 fires per person would be considered low.